<h1>ACTIVITIES</h1>

<section class="activities">

<section class="hakukentta" >
    <input
    type="text"
    [(ngModel)]="term"
    class="searchTerm"
    placeholder="kirjoita hakusana.."
   />

   <button (click)="changeTermNature()" class="btn button-green">Nature</button>
   <button (click)="changeTermSauna()" class="btn button-green">Sauna</button>
   <button (click)="changeTermDaytrip()" class="btn button-green">Daytrip</button>
   <button (click)="changeTermHistory()" class="btn button-green">History</button>
   <button (click)="changeReset()" class="btn button-outline-violet">Kaikki</button>


  </section>


  
<section class="gridcards">

  <div class="card border-dark eventcard m-2" style="max-width: 22rem;" *ngFor="let activity of activityList?.data | filter: term | paginate: { itemsPerPage: 12, currentPage: p }">
    <span *ngIf="activity.description.images[0]?.url.length!">
    <img src="{{ activity.description.images[0]?.url }}" class="card-img-top" alt="{{ activity?.name?.fi }}">
    </span>
    <div class="card-body">
      <h2 class="card-title">{{ activity?.name?.fi }}</h2>
      <h5 class="card-title">{{ activity.event_dates?.starting_day | date:'MMMM d, y, H:mm' }}
      </h5>
      <h5 class="card-title">
        <a href="{{ activity?.info_url }}" class="read-more">
          <!--EI NÄY LUE LISÄÄ linkki jos URL on tyhjä!-->
          <span *ngIf="activity?.info_url?.length!">
              Lue lisää >
          </span>
        </a>
      </h5>
      <hr>
      <p class="card-text">{{ activity.description?.body | slice:0:200}}
      </p>
    </div>
    <ul class="list-group list-group-flush">
      <li class="list-group-item muted"><fa-icon [icon]="Globe"></fa-icon> {{ activity.location.address?.street_address }}, {{ activity.location.address?.postal_code }}, 
        {{ activity.location.address?.locality }}
      </li>
    </ul>
    <div class="card-body">
        <button class="btn_favourite" (click)="addToFavorites(activity.name?.fi, activity.id, activity.info_url, (activity.location?.address?.street_address + ', ' + activity.location?.address?.locality), activity.description?.images[0]?.url)">Add to favorite
          <fa-icon [icon]="Star"></fa-icon>
        </button> 
    <p>
      <fa-icon [icon]="Hashtag"></fa-icon>
      <span class="badge bg-primary badge-pill">
      {{ activity.tags[0]?.name }}
      </span>
  
      <span class="badge bg-secondary badge-pill" *ngIf="activity.tags[1]?.name.length!">  
      {{ activity.tags[1]?.name }}
      </span>
  
      <span class="badge bg-warning badge-pill" *ngIf="activity.tags[2]?.name.length!">  
      {{ activity.tags[2]?.name }}
      </span>
    
      <span class="badge bg-info badge-pill" *ngIf="activity.tags[3]?.name.length!">  
      {{ activity.tags[3]?.name }}
      </span>
    </p>
    </div>
    </div>
</section>

<pagination-controls 
(pageChange)="p = $event" 
previousLabel="Edellinen"
nextLabel="Seuraava"
class="sivunumerot">
</pagination-controls>


</section>