
.footerlink{
    font-weight: 500;
    font-size: 1.2rem;
    text-decoration: none;
    margin-bottom: 3vh;
}
.link-event{
    color: var(--button-event);
}
.link-places{
    color: var(--button-place);
}
.link-active{
    color: var(--main-color);
}