<section class="container">
    <article class="d-flex justify-content-around mt-3">
        <a class="footerlink" routerLink="/events" routerLinkActive="active">All Events</a><br />
        <a class="footerlink" routerLink="/places" routerLinkActive="active"> All Places</a><br />
        <a class="footerlink" routerLink="/activities" routerLinkActive="active"> All Activities</a
        ><br />
        <a class="footerlink" routerLink="/alldata" routerLinkActive="active">Everything at once</a>
      </article>
</section>
