<section class="container">
  <article>
      <a class="footerlink button-15" routerLink="/events" routerLinkActive="active">All Events</a><br />
      <a class="footerlink button-15" routerLink="/places" routerLinkActive="active"> All Places</a><br />
      <a class="footerlink button-15" routerLink="/activities" routerLinkActive="active"> All Activities</a
      ><br />
      <a class="footerlink button-15" routerLink="/alldata" routerLinkActive="active">Everything at once</a>
    </article>
</section>
