
<section class="hakukentta" >
    <input
    type="text"
    [(ngModel)]="term"
    class="searchTerm"
    placeholder="kirjoita hakusana.."
   />

   <button (click)="changeTermBookClubs()" class="btn button-violet">Book clubs</button>
   <button (click)="changeTermShopping()" class="btn button-violet">Shopping</button>
   <button (click)="changeTermRestaurantsAndCafes()" class="btn button-violet">Restaurants & Cafes</button>
   <button (click)="changeTermSights()" class="btn button-violet">Sights & Attractions</button>
   <button (click)="changeReset()" class="btn button-outline-violet">Kaikki</button>

</section>

<section class="gridcards">


  <div class="card w-250 m-1" *ngFor="let place of PlaceList?.data | filter: term | paginate: { itemsPerPage: 12, currentPage: p }">
    <div class="card-body">
      <h5 class="card-title">
        <a href="{{ place?.info_url }}" class="read-more"> 
          <fa-icon [icon]="ArrowUpRight"></fa-icon>  {{ place?.name?.fi }} 
          </a>
        </h5>

          <ul class="list-group list-group-flush">
            <li class="list-group-item"><fa-icon [icon]="Globe"></fa-icon> {{ place.location.address?.street_address }}, {{ place.location.address?.postal_code }}, 
              {{ place.location.address?.locality }}</li>
          </ul>
          <hr>
          <p class="card-text">{{ place.description?.body | slice:0:130}}..
          </p>

          <table class="table table-borderless"  *ngIf="place?.opening_hours?.hours">
 
            <tbody>
              <tr>
                    <th scope="row">Mon</th>
                    <td>{{ place.opening_hours.hours[0]?.opens | slice:0:5 }}</td>
                    <td>{{ place.opening_hours.hours[0]?.closes | slice:0:5 }}</td> 
              </tr>
              <tr>
                    <th scope="row">Tue</th>
                    <td>{{ place.opening_hours.hours[1]?.opens | slice:0:5 }}</td>
                    <td>{{ place.opening_hours.hours[1]?.closes | slice:0:5 }}</td> 
                </tr>
                <tr>
                    <th scope="row">Wed</th>
                    <td>{{ place.opening_hours.hours[2]?.opens | slice:0:5 }}</td>
                    <td>{{ place.opening_hours.hours[2]?.closes | slice:0:5 }}</td> 
                </tr>
                <tr>
                    <th scope="row">Thu</th>
                    <td>{{ place.opening_hours.hours[3]?.opens | slice:0:5 }}</td>
                    <td>{{ place.opening_hours.hours[3]?.closes | slice:0:5 }}</td> 
                </tr>
                <tr>
                    <th scope="row">Fri</th>
                    <td>{{ place.opening_hours.hours[4]?.opens | slice:0:5 }}</td>
                    <td>{{ place.opening_hours.hours[4]?.closes | slice:0:5 }}</td> 
                </tr>
                <tr>
                    <th scope="row">Sat</th>                           
                     <td>{{ place.opening_hours.hours[5]?.opens | slice:0:5 }}</td>
                    <td>{{ place.opening_hours.hours[5]?.closes | slice:0:5 }}</td> 
                </tr>
                <tr>
                    <th scope="row">Sun</th>                           
                    <td>{{ place.opening_hours.hours[6]?.opens | slice:0:5 }}</td>
                    <td>{{ place.opening_hours.hours[6]?.closes | slice:0:5 }}</td> 
              </tr>
            </tbody>
        </table>

    <p><fa-icon [icon]="Hashtag"></fa-icon>

      <br>
      <span class="badge bg-primary badge-pill">
        {{ place.tags[0]?.name }}
      </span>
        <br> 
        <span class="badge bg-secondary badge-pill" *ngIf="place.tags[1]?.name.length!">  
        {{ place.tags[1]?.name }}
        </span>
        <br>
        <span class="badge bg-warning badge-pill" *ngIf="place.tags[2]?.name.length!">  
          {{ place.tags[2]?.name }}
          </span>
          <br>
          <span class="badge bg-info badge-pill" *ngIf="place.tags[3]?.name.length!">  
            {{ place.tags[3]?.name }}
            </span>
    </p>

      <a href="#" class="btn btn_favourite" (click)="addToFavorites(place.name.fi, place.id, place.info_url, (place.location?.address?.street_address + ', ' + place.location?.address?.locality), place.description.images[0]?.url)">Add to favorite <fa-icon [icon]="Star"></fa-icon>
      </a>
    </div>
  </div>


  
    
    </section>


    <pagination-controls 
    (pageChange)="p = $event" 
    previousLabel="Edellinen"
    nextLabel="Seuraava"
    class="sivunumerot">
    </pagination-controls>