@import url("https://fonts.googleapis.com/css2?family=Cinzel&family=Libre+Caslon+Text:ital,wght@0,400;0,700;1,400&display=swap");

* {
  font-family: "Cinzel", serif;
  font-family: "Libre Caslon Text", serif;
}

p {
  margin-bottom: -0rem;
}

.display {
  display: flex;
  background-color: #169fcc;
  padding: 0.5rem;
  border-radius: 1rem;
  margin-bottom: 0.5rem;
  margin-top: 0.5rem;
  color: white;
  font-weight: boler;
}

img {
  height: 30px;
  width: 40px;
  display: block;
  margin-bottom: 0.2rem;
}

.weather {
  display: flex;
  flex-direction: column;
  font-size: 0.9rem;
}

.temp {
  width: 95px;
  font-size: 1rem;
}

.displayshow {
  display: none;
}

@media only screen and (max-width: 768px) {
  /* For mobile phones: */
  .display {
    display: none;
  }

  .displayshow {
    display: flex;
    background-color: #169fcc;
    padding: 0.5rem;
    border-radius: 1rem;
    margin-bottom: 0.5rem;
    margin-top: 0.5rem;
    color: white;
    font-weight: boler;
  }

  img {
    width: 30px;
  }

  .temp {
    width: 50px;
  }
}
