<section class="list-bar d-flex flex-column">
  <app-carousel></app-carousel>

  <article  *ngFor="let place of placesContent" class="card mt-3">
    <img src="{{place.description.images[0]?.url}}" class="card-img-top" alt="...">
    <div class="card-body">
      <h5 class="card-title">{{ place.name.fi }}</h5>
      <section class="info d-flex justify-content-between">
      <p class="card-text">{{ place.location.address?.street_address}}</p>
      <div><i class="bi bi-heart-fill"></i></div>
    </section>
    </div>
  </article>

</section>