.list-bar {
  background-color: white;
  color: black;
  width: 98%;
  height: 90vh;
  overflow: auto;
}

.card {
text-align: center;
}

.card-img-top {
  height: 120px;
  width: 90%;
  object-fit: cover;
}

.bi-heart-fill {
  color: var(--button-event);
  font-size: 1.2rem;
}