.logo {
  width: 8%;
  height: auto;
  color: var(--button-concert);
}
header {
  height: 100px;
}
.main-title {
  color: #5ebc5e;
  font-size: 2rem;
  margin: 0;
}

.title {
  width: 50%;
}
.login-user {
  width: 20%;
}
.login {
  width: 70%;
  padding: 0.5rem;
  font-size: 1.2rem;
  border: none;
}

@media only screen and (max-width: 768px) {
  /* .logo {
    width: 12%;
    height: auto;
  } */

  .main-title {
    margin: 0;
    font-size: 1.5rem;
  }

  .login {
    width: 60%;
    font-size: 1rem;
  }
}
@media only screen and (max-width: 425px) {
  .login-user {
    width: 30%;
  }

  .logo {
    width: 15%;
  }
}
@media only screen and (max-width: 320px) {
  header{
    height: 70px;
  }
  .login-user {
    width: 40%;
  }
}