<section>

  <article class="places d-flex">
    <app-list-bar></app-list-bar>
    <button class="btn activity" (click)="showContent('activities')">
      Activities
    </button>
    <!-- <button class="btn stadium">Stadiums</button> -->
    <button class="btn place" (click)="showContent('places')">Places</button>
    <!-- <button class="btn sight">Sights</button> -->
    <!-- <button class="btn concert">Concert halls</button> -->
    <button class="btn event" (click)="showContent('events')">Events</button>
  </article>
</section>