
:root {
    --main-color: #5ebc5e;
    --button-park: #5ebc2a;
    --button-stadium: #fecf02;
    --button-restaurant: #ff9902;
    --button-sight: #8143c2;
    --button-concert: #f6aaa3;
  }
  
  #map {
    position: relative;
    height: 600px; /* The height is 400 pixels */
    width: 100%; /* The width is the width of the web page */
}
  
  .places {
    position: absolute;
    top: 10%;
  }
  
  .btn {
    width: 50%;
    padding: 0.5rem;
    border: none;
    border-radius: 10px;
    margin: 0.5rem;
  }
  
  .activity {
    /* background-color: var(--button-park); */
    background-color: #5ebc2a;
    color: beige;
  }
  
  .stadium {
    background-color: #fecf02;
    color: beige;
  }
  
  .place {
    background-color:  #8143c2;
    color: beige;
  }
  
  .sight {
    background-color: #ff9902;
    color: beige;
  }
  
  .concert {
    background-color:  #fecf02;
    color: beige;
  }

  .event {
    background-color: #f6aaa3;
    color: beige;
  }

  .list {
    width: auto;
    background-color: rgb(246, 246, 246);
    color: grey;
  }

  .side-bar {
    height: auto;
    width: 30%;
    position: absolute;
    background-color: azure;
  }
  
  @media only screen and (max-width: 768px) {
    .places {
     top: 85%;
     flex-wrap: wrap;
    }

    .btn {
      width: 25%;
      margin: 0.5rem;
    }
   }

  @media only screen and (max-width: 425px) {
   .places {
    top: 75%;
    flex-wrap: wrap;
   }

   .btn {
    width: 40%;
    padding: 0.7rem;
    margin: 0.5em;
  }
  }