#map {
  position: relative;
  height: 600px; /* The height is 600 pixels */
  width: 100%; /* The width is the width of the web page */
  border: none;
}
.places {
  position: absolute;
  top: 14%;
  left: 2%;
  gap: 0.5rem;
}
.btn {
  width: 40%;
  padding: 0.5rem 1rem;
  border: none;
  border-radius: 10px;
  font-size: 1.2rem;
}
.btn:hover {
  background-color: gray;
  color: white;
}

.activity {
  /* background-color: var(--button-park); */
  background-color: #5ebc2a;
  color: beige;
}

.stadium {
  background-color: #fecf02;
  color: beige;
}

.place {
  background-color: #8143c2;
  color: beige;
}

.sight {
  background-color: #ff9902;
  color: beige;
}

.concert {
  background-color: #fecf02;
  color: beige;
}

.event {
  background-color: #f6aaa3;
  color: beige;
}

.list {
  width: auto;
  background-color: rgb(246, 246, 246);
  color: grey;
}

.side-bar {
  height: auto;
  width: 30%;
  position: absolute;
  background-color: azure;
}
@media only screen and (max-width: 1024px) {
  .places {
    top: 12%;
  }
}
@media only screen and (max-width: 768px) {
  .places {
    top: 15%;
  }
}

  @media only screen and (max-width: 425px) {
    .places {
      top: 15%;
    }
   .btn {
    width: 40%;
  }
  } 

  @media only screen and (max-width: 320px) {
    #map {
      height: 500px; /* The height is 400 pixels */
    }
    .btn {
     width: 40%;
   }
   .places{
    top: 11%;
   }
   } 