
<h1>EVENTS</h1>

<section class="events">

<!--        QUERIES to Database!

    <div *ngFor="let event of EventList | keyvalue">
        <div>{{event | json}}</div>
        Object Key {{event.key}} and value: {{event.value}}
    </div>


<ul *ngFor="let event of EventList.data">
    <li>ID: {{ event.id }} ::: NAME ::: {{event.name.fi}} :::
       Location LAT: {{event.location.lat}}
    </li>
</ul>
-->

<section class="hakukentta" >
<input
type="text"
[(ngModel)]="term"
class="searchTerm"
placeholder="kirjoita hakusana.."/>

  <!--buttons events-->
  <button (click)="changeTermHeavyMetal()" class="btn button-pink">Heavy Metal</button>
  <button (click)="changeTermRock()" class="btn button-pink">Rock</button>
  <button (click)="changeTermHiphop()" class="btn button-pink">Hip Hop</button>

  <button (click)="changeTermEducation()" class="btn button-pink">Education</button>
  <button (click)="changeTermGeneral()" class="btn button-pink">General</button>

  <button class="btn button-outline-orange" type="submit" (click)="changeToday()"
  >{{currentDate | date:'dd.MM.yyyy'}} Tänään</button>

  <button class="btn button-outline-orange" type="submit" (click)="changeToday1()"
  >{{tomorrowDate | date:'dd.MM.yyyy'}} Huomenna</button>

  <button class="btn button-outline-orange" type="submit" (click)="changeToday2()"
  >{{tomorrow2Date | date:'dd.MM.yyyy'}} Ylihuomenna</button>

  <button (click)="changeReset()" class="btn button-outline-violet">Kaikki</button>
  </section>



<section class="gridcards">

  <div class="card border-dark mb-3 eventcard" style="max-width: 22rem;" *ngFor="let event of EventList?.data | filter: term | paginate: { itemsPerPage: 12, currentPage: p }">
    <span *ngIf="event.description.images[0]?.url.length!">
    <img src="{{ event.description.images[0]?.url }}" class="card-img-top" alt="{{ event?.name?.fi }}">
    </span>
    <div class="card-body">
      <h2 class="card-title">{{ event?.name?.fi }}</h2>
      <h5 class="card-title">{{ event.event_dates?.starting_day | date:'MMMM d, y, H:mm' }}
      </h5>
      <h5 class="card-title">
        <a href="{{ event?.info_url }}" class="read-more">
          <!--EI NÄY LUE LISÄÄ linkki jos URL on tyhjä!-->
          <span *ngIf="event?.info_url?.length!">
              Lue lisää >
          </span>
        </a>
      </h5>
      <hr>
      <p class="card-text">{{ event.description?.intro | slice:0:200}}
      </p>
    </div>
    <ul class="list-group list-group-flush">
      <li class="list-group-item muted"><fa-icon [icon]="Globe"></fa-icon> {{ event.location.address?.street_address }}, {{ event.location.address?.postal_code }}, 
        {{ event.location.address?.locality }}
      </li>
    </ul>
    <div class="card-body">
        <button class="btn_favourite" (click)="addToFavorites(event.name.fi, event.id, event.info_url, (event.location?.address?.street_address + ', ' + event.location?.address?.locality), event.description.images[0]?.url)">Add to favorite
          <fa-icon [icon]="Star"></fa-icon>
        </button> 
    <p>
      <fa-icon [icon]="Hashtag"></fa-icon>
      <span class="badge bg-primary badge-pill">
      {{ event.tags[0]?.name }}
      </span>
  
      <span class="badge bg-secondary badge-pill" *ngIf="event.tags[1]?.name.length!">  
      {{ event.tags[1]?.name }}
      </span>
  
      <span class="badge bg-warning badge-pill" *ngIf="event.tags[2]?.name.length!">  
      {{ event.tags[2]?.name }}
      </span>
    
      <span class="badge bg-info badge-pill" *ngIf="event.tags[3]?.name.length!">  
      {{ event.tags[3]?.name }}
      </span>
    </p>
    </div>
    </div>
</section>

<pagination-controls 
(pageChange)="p = $event" 
previousLabel="Edellinen"
nextLabel="Seuraava"
class="sivunumerot">
</pagination-controls>
</section>